<!DOCTYPE css>
<css>
body {
	background-color: #FFFFCC;
}
h1 { 
	color: purple;
	font-family: Georgia;
	text-align: center;
}
h2 {
	font-family: georgia;
	text-align: center;
}
IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</css>