body {
	background-color: #CCCCFF;
}
h1 { 
	color: purple;
	font-family: helvetica;
	text-align: center;
}
h2 {
	font-family: helvetica;
	text-align: center;
}
IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}