body {
text-align: center;
color: black;
font-size: 
font-family: Helvetica;
background-color: #F8F8F8;
}
h1 {
	color: black;
	text-align: center;
	font-family: Helvetica;
	font-size: 42px;
	}
h2 {
	color: black;
	text-align: left;
	font-family: Helvetica;
	background-color: #99CCFF;
}
h3 {
	color: black;
	text-align: right;
	font-family: Helvetica;
}
h4, p {
	color: black;
	text-align: right;
	font-family: Helvetica;
}

ul {
	color: black;
	text-align: right;
	font-family: Helvetica;
	list-style-type: disc;
	list-style-position: inside;
}
#links {
	color: black
	font-family: helvetica;
	text-align: center;
}
#contact {
	color: black;
	text-align: center;
	font-style: italic;
}
.timeframe {
	color: black;
	text-align: right;
	font-style: italic;
}
